#tableBox{
	width:1000px;
	margin:0 auto;
}
#myTable{
	width:100%;
border-collapse:collapse; 
}

#myTable td{
	text-align:center;

	font-size:14px;
	height:35px;
	width:auto;
	font-weight:bold;
	background-color:white;
	opacity:0.5;
}
#myTable tr:hover{
background-color:#FFDEAD;
opacity:0.7;
}
#myTable th{
text-align:center;

width:auto;
height:50px;
font-size:16px;
line-height:40px;
font-weight:bold;
	background-color:black;
	opacity:0.7;
	color:#fff;

}
.ToBorrow{
	border:none;
	height:25px;
	width:50px;
	color:white;
	background-color: black;
	border-radius: 4px;
}
.indexNo{
	border:none;
	background-color: transparent;
	text-align:center;
}